<% if(locals.Alert != null) { %>
        <% if(locals.Alert.Type == 'success'){ %>
        <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> <%= locals.Alert.Message %>
    <% } %>
    <% if(locals.Alert.Type == 'warning'){ %>
        <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <%= locals.Alert.Message %>
    <% } %>
    <% if(locals.Alert.Type == 'danger'){ %>
        <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> <%= locals.Alert.Message %>
    <% } %>     
    </div>
<% } %>
