<div class="row">
    <div class="col-sm-6 page-title">New Word</div>
    <div class="col-sm-6 text-right mg-top-sm">
        <a href="/word" title="Back to Language List">Back to Word List</a>
    </div>
</div>
<form action="/word/new" method="POST" class="mg-top-lg">
    <%- include('_form_fields.ejs') %>
</form>