<div class="row">
    <input type="hidden" name="_id" value="<%= Category._id %>" />
    <div class="col-sm-4 text-right"><label class="<%= (locals.IsDelete)?"":"required" %>">Category Name</label></div>
    <div class="col-sm-5"><input type="text" class="form-control" name="categoryName" required 
        <%= (locals.IsDelete)?"disabled":"" %> value="<%= Category.CategoryName %>" /> </div>
</div>
<div class="row mg-top-md">
    <div class="col-sm-9 text-right">
        <a href="/category" class="btn btn-light mb-2 mr-2">Cancel</a>
        <button type="submit" class="btn btn-light mb-2">Submit</button>
    </div>
</div>