<div class="row">
    <div class="col-sm-6 page-title">Edit Category</div>
    <div class="col-sm-6 text-right mg-top-sm">
        <a href="/category" title="Back to Language List">Back to Category List</a>
    </div>
</div>
<form action="/category/edit" method="POST" class="mg-top-lg">
    <%- include('_form_fields.ejs') %>
</form>