<div class="row">
    <div class="col-sm-6 page-title">Category</div>
    <div class="col-sm-6 text-right mg-top-sm">
        <a href="/category/new" title="New Language">New Category</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Sr.</th>
                        <th>Category Name</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(Category != null){ for(let i = 0; i < Category.length; i++) {%>
                        <tr>
                            <td class="text-center"><%= (i+1) %></td>
                            <td><%= Category[i].CategoryName %></td>
                            <td class="text-center"><a href='/category/edit/<%= Category[i]._id %>' title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td class="text-center"><a href='/category/delete/<%= Category[i]._id %>' title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    <% }} %>
                </tbody>
            </table>
        </div>
    </div>
</div>
