@import 'shared/header.css';


.error-Message{
    color: red;
}

.mg-top-sm{
    margin-top: 5px;
}

.mg-top-md{
    margin-top: 15px;
}

.mg-top-lg{
    margin-top: 30px;
}

.page-title{
    font-size: 1.5em;
    padding-bottom: 10px;
}

.required::after{
    content: '*';
    color: #f00;
    padding-left: 5px;
}

.form-check-label, .custom-control-label{
    cursor: pointer;
}


.table.table-striped.my-table thead tr{
	background-color: #ffa62b;
}

.table.table-striped.my-table tbody tr:nth-child(even){
	background-color: rgba(0, 0, 0, 0.05);
}

.table.table-striped.my-table tbody tr:nth-child(odd){
	background-color: #fff;
}

.table.table-striped.my-table tbody tr:nth-child(odd) i{
	color:#666;
}

.table.table-hover.my-table tbody tr:hover, .table.table-hover.my-table tbody tr:hover i{
	background-color: #489fb5; /* #16697a; */
	color:#fff;
}

 .my-table{
	margin-bottom:0;
}

.my-table thead th{
	padding-left:10px;
}

.my-table tbody td{
	padding-left:20px;
	padding-right:20px;
}

.my-table tbody td i{
	
	text-align: right;
	float:right;
	padding-top: 5px;
	cursor:	pointer;
	font-size: 0.7rem;
}

.my-table-box{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	padding: 15px;
	margin-top: 20px;
	border-radius: 8px;
}

.my-table tfoot td{
	text-align: center;
}