<div class="row">
    <input type="hidden" name="_id" value="<%= Language._id %>" />
    <div class="col-sm-4 text-right required">Language Name</div>
    <div class="col-sm-5"><input type="text" class="form-control" name="languageName" required value="<%= Language.LanguageName %>" /> </div>
</div>
<div class="row mg-top-md">
    <div class="col-sm-4 text-right required">Language Code</div>
    <div class="col-sm-5"><input type="text" class="form-control" name="languageCode" required value="<%= Language.LanguageCode %>" /> </div>
</div>
<div class="row mg-top-md">
    <div class="col-sm-9 text-right">
        <button type="submit" class="btn btn-light mb-2">Submit</button>
    </div>
</div>