<div class="row">
    <div class="col-6 page-title">Edit Language</div>
    <div class="col-6 text-right mg-top-sm">
        <a href="/language" title="Back to Language List">Back to Language List</a>
    </div>
</div>
<form action="/language/edit" method="POST" class="mg-top-lg">
    <%- include('_form_fields.ejs') %>
</form>