<div class="row">
    <div class="col-lg-6 page-title">New Language</div>
    <div class="col-lg-6 text-right mg-top-sm">
        <a href="/language" title="Back to Language List">Back to Language List</a>
    </div>
</div>
<form action="/language/new" method="POST" class="mg-top-lg">
    <%- include('_form_fields.ejs') %>
</form>