
.table.table-striped.my-table thead tr{
	background-color: #ffa62b;
}

.table.table-striped.my-table tbody tr:nth-child(even){
	background-color: #489fb5;
	color:#fff;
}

.table.table-striped.my-table tbody tr:nth-child(odd){
	background-color: #fff;
}

.table.table-striped.my-table tbody tr:nth-child(odd) i{
	color:#666;
}

.table.table-hover.my-table tbody tr:hover, .table.table-hover.my-table tbody tr:hover i{
	background-color: #16697a;
	color:#fff;
}

.my-table{
	margin-bottom:0;
}

.my-table thead th{
	padding-left:10px;
}

.my-table tbody td{
	width:50%;
	padding-left:20px;
	padding-right:20px;
}

.my-table tbody td i{
	
	text-align: right;
	float:right;
	padding-top: 5px;
	cursor:	pointer;
	font-size: 0.7rem;
}

.my-table-box{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	padding: 15px;
	margin-top: 20px;
	border-radius: 8px;
}

.my-table tfoot td{
	text-align: center;
}

#divSwapLang{
	padding-top: 37px;
	font-size: 18px;
	cursor: pointer;
	color:#666;
}